<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
  <main>
    <section>
      <h3>Database</h3>
      <ul>
        <li><a href="http://localohst:33306">Database</a></li>
      </ul>

      <h3>Query Session</h3>
      <ul>
        <li><a href="http://localohst:30180">Login Page</a></li>
      </ul>


      <h3>Cookie Session</h3>
      <ul>
        <li><a href="http://localohst:30280">Login Page</a></li>
      </ul>

      <h3>Common Session</h3>
      <ul>
        <li><a href="http://localohst:30380">Login Page</a></li>
        <li><a href="http://localohst:30380/sessions">Session List Page</a></li>
      </ul>

      <h3>HTTP Authentication</h3>
      <ul>
        <li><a href="http://localohst:30480">Login Page</a></li>
      </ul>

      <h3>JWT Session</h3>
      <ul>
        <li><a href="http://localohst:30480">Login Page</a></li>
      </ul>
    </section>
  </main>
</body>
</html>
